@using Assignment_03.Models
@model User
<html>
<head>
    <title>Assignment 03</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/site.css?" + DateTime.Now.ToString("ddMMHHmmss") rel="stylesheet" /> <!--To update css file wehen ever it changes to stop browser cashe -->
</head>
<body>
    <center>
        <div class="col-md-3 login">
            <h2>User SignUp</h2>
            <form method="post" action="/Index/SignUp" enctype="multipart/form-data">
                <input asp-for="Name" class="form-control" placeholder="Full Name" />
                <span asp-validation-for="Name"></span>
                <input asp-for="Username" class="form-control" placeholder="Username" />
                <span asp-validation-for="Username"></span>
                <input asp-for="Email" type="email" class="form-control" placeholder="Email Address" />
                <span asp-validation-for="Email"></span>
                <input asp-for="Password" type="password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password"></span>
                <label for="ProfileImage">Profile Photo</label>
                <input asp-for="ProfileImage" />
                <span asp-validation-for="ProfileImage"></span>
                <input type="submit" class="form-control btn btn-primary" value="SignUp" />
                <hr />
            </form>
            <a class="signup btn btn-success" asp-action="Index">Login</a>
        </div>
    </center>
</body>
</html>