@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>This is a simple blog site made by BCSF18A522 Usman Farooq as given EAD assignment 03.<br /> This is a simple blog site where user can create account and make some posts.</p>